<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学员管理系统-by rock johnson</title>
</head>
<body>
    <h3><a href="/admin/">Admin</a></h3>
    <ul>
        {% for student in students %}
            <li>{{ student.name }} - {{ student.get_status_display }}</li>
        {% endfor %}
    </ul>
    <hr/>
    <form action="{% url 'student:index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>